body{
    margin:0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    color: rgb(51, 51, 51);
}
.wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
.header{
    width:100%;
    height: 100px;
    background-color: #eceaea;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    box-shadow: 0px 3px 0px #c4c3c3;
    box-sizing: border-box;
}
.header__btn{
    width: 90px;
    height: 30px;
    background-color: #2d38d1;
    color:#fff;
    border:none;
    border-radius: 3px;
    transition: box-shadow, background-color .3s linear;
}

.header__btn:hover{
    box-shadow: 1px 1px 15px #4c577c;
}
.header__btn:focus{
    outline: none;
}
.header__btn:active{
    box-shadow: 1px 1px 15px #4c577c;
    background-color:#4c577c;
}
.header__btn_refresh{
    margin-left:10px;
}
.search{
    display: flex;
    align-items: center
}
.search__icon{
    display: flex;
    background-image: url(../img/search.png);
    background-size: contain;
    width:22px;
    height:20px;
    margin-right: 5px
} 
.search__input{
    width: 250px;
}
.search__input:focus{
    outline: none;
}
.search-container{
    width:265px;
    max-height: 500px;
    min-height: 50px;
    border: 1px solid #c2c2c2;
    position: absolute;
    top:85px;
    right:25px;
    background-color: #fff;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    box-shadow: 2px 2px 3px #c2c2c2, -2px 2px 3px #c2c2c2;
    cursor: pointer;
}
.search-container-item{
    border-bottom: 1px solid #c2c2c2;
    width: 99%;
}
.search-container-item__header{
    font-weight: bold;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
    font-size: 19px;
    margin:6px 0;
}
.search-container-item_active{
    background-color: #5d9dda;
    color:#fff
}
.section-calendar{
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.calendar{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
}
.calendar-controls{
    display: flex;
    align-items: center;
    width: 215px;
    justify-content: space-between;
}
.calendar__btn{
    width: 23px;
    height: 23px;
}
.calendar__btn-current-day{
    padding: 0;
    margin: 0 10px;
}
.calendar__btn_prev-triangle{
	border-top: 5px solid transparent;
	border-right: 6px solid #000;
	border-bottom: 5px solid transparent;
}
.calendar__btn_next-triangle{
	border-top: 5px solid transparent;
	border-left: 6px solid #000;
	border-bottom: 5px solid transparent;
}
.calendar__date{
    padding: 15px 10px;
    display: flex;
    font-size: 20px;
    font-weight: 600;
}
.calendar-table{
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: 100%;
    padding-bottom: 10px;
}
.table__cell{
    width: 14.28%;
    height: 20%;
    box-sizing: border-box;
    border: 1px solid #c2c2c2;
    padding: 5px;
}
.table__cell_active{
    font-weight: 900;
    background-color:#e7e2e2;
}
.table__cell_event{
    display:block;
    border: 2px solid #899efc;
    background-color:rgb(189, 229, 255)
}
.event-container{
    display:flex;
    flex-direction: column; 
    overflow-x: hidden;
    overflow-y: hidden;
    text-overflow: ellipsis;
    width: 100%;
    height: auto;
}
.text-event{
    text-overflow: ellipsis;
    white-space: nowrap
}
.table__cell-event_active{
    border: 2px solid #899efc;
    background-color:rgb(189, 229, 255);
    font-size: 18px;
    font-weight: bold;
}
.hidden-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    width: 290px;
    height: 320px;
    background-color: #fff;
    padding: 15px;
    visibility: visible;
    border:2px solid #b1afaf;
    box-shadow:3px 2px 15px #c2c2c2;
    border-radius: 4px;
}
.hidden-menu-rect{
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: #fff;
    border:2px solid #b1afaf;
    border-right: none;
    border-top: none;
}
.hidden-menu-rect_left-top{
    top:25px;
    left:-11px;
    transform: rotate(45deg);
}
.hidden-menu-rect_right-top{
    top:25px;
    right:-11px;
    transform: rotate(225deg);
}
.hidden-menu-rect_right-bottom{
    bottom:25px;
    right:-11px;
    transform: rotate(225deg);
}
.hidden-menu-rect_left-bottom{
    bottom:25px;
    left:-11px;
    transform: rotate(45deg);
}
.hidden-menu__btn-close{
    width: 15px;
    height: 15px;
    position: absolute;
    top:10px;
    right: 10px;
}
.hidden-menu__btn-close_img{
    width: 10px
}
.hidden-menu-data-block{
    margin:5px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 90px;
    justify-content: space-between;
}
.hidden-menu_input{
    width: 94%;
    padding: 0 5px;
    border-radius: 4px;
}
.hidden-menu__textarea{
    width: 94%;
    border-radius: 4px;
    padding: 0 5px;
    resize: none;
}
.hidden-menu-add{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 300px;
    height: 100px;
    left: 40px;
    top: 80px;
    background-color: #fff;
    border: 1px solid #b1afaf;
    box-shadow: -2px 3px 3px #b1afaf, 2px 3px 3px #b1afaf;
    border-radius: 3px
}
.hidden-menu-add__rect{
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: #fff;
    border:2px solid #b1afaf;
    border-right: none;
    border-top: none;
    top:-11px;
    left:30px;
    transform: rotate(135deg);
}
.hidden-menu-add__btn-close{
    align-self: flex-end;
    margin-right: 10px;
    margin-top: 5px;
}
.hidden-menu-add__input{
    width: 250px;
    align-self: center
}
.hidden-menu-add__btn-create{
    width: 75px;
    margin-left: 25px;
    margin-top: 10px;
}
.hidden{
    visibility: hidden;
    display: none;
}
@media(max-width:600px){
    .header-block-btn{
        display: flex;
        flex-direction: column-reverse;
    }
    .header__btn_refresh{
        margin-left:0px;
        margin-bottom:10px
    }
    .hidden-menu-add{
        top:100px;
    }
}